<h1>About us</h1>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Technical Recruiter &amp; Manager</title>
	<meta name="generator" content="LibreOffice 4.2.7.2 (Linux)">
	<meta name="author" content="jjcross">
	<meta name="created" content="20150115;214300000000000">
	<meta name="changedby" content="James Cross">
	<meta name="changed" content="20150430;145218224343656">
	<style type="text/css">
	<!--
		@page { margin: 0.5in }
		p { margin-bottom: 0.1in; direction: ltr; color: #00000a; line-height: 120%; text-align: left; widows: 2; orphans: 2 }
		p.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ru-RU }
		p.cjk { font-family: "Times New Roman"; font-size: 12pt; so-language: ru-RU }
		p.ctl { font-family: "Times New Roman"; font-size: 12pt; so-language: ar-SA }
		h6 { margin-top: 0.17in; direction: ltr; color: #00000a; text-align: left; widows: 2; orphans: 2; page-break-after: auto }
		h6.western { font-family: "Times New Roman", serif; font-size: 11pt; so-language: ru-RU; font-weight: normal }
		h6.cjk { font-family: "Times New Roman"; font-size: 11pt; so-language: ru-RU; font-weight: normal }
		h6.ctl { font-family: "Times New Roman"; font-size: 11pt; so-language: ar-SA; font-weight: normal }
		a:link { color: #0000ff; so-language: zxx }
	-->
	</style>
</head>
<body lang="en-US" text="#00000a" link="#0000ff" dir="ltr">
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%"><a name="_GoBack"></a>
<font size="4" style="font-size: 16pt"><b>James Cross</b></font></p>
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%">
&nbsp;<font size="2" style="font-size: 11pt"><b>(</b></font><font size="2" style="font-size: 11pt"><span lang="en-US"><b>907</b></span></font><font size="2" style="font-size: 11pt"><b>)</b></font><font size="2" style="font-size: 11pt"><span lang="en-US"><b>903</b></span></font><font size="2" style="font-size: 11pt"><b>-</b></font><font size="2" style="font-size: 11pt"><span lang="en-US"><b>8710</b></span></font><font size="2" style="font-size: 11pt"><b>
- mobile</b></font></p>
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%">
<a href="mailto:JCross2774@gmail.com"><font size="2" style="font-size: 11pt"><span lang="en-US"><b>JCross2774@gmail.com</b></span></font></a></p>
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" align="center" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>SUMMARY OF QUALIFICATIONS:</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Over 1</font><font size="2" style="font-size: 11pt"><span lang="en-US">7</span></font><font size="2" style="font-size: 11pt">
years of diverse and progressive experience supporting manufacturing,
commercial consulting, federal, state, and local government agencies’
information technology organizations as a Technical Recruiter,
Recruiting Manager, and Managing Director.&nbsp; </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>SKILLS:</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<table width="609" cellpadding="8" cellspacing="0">
	<col width="262">
	<col width="316">
	<tr valign="top">
		<td width="262" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Strategic
				Recruitment Planning</font></p>
			</ul>
		</td>
		<td width="316" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Operations
				Support</font></p>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td width="262" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Staffing
				Management</font></p>
			</ul>
		</td>
		<td width="316" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Vendor
				Management</font></p>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td width="262" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Contract
				Management</font></p>
			</ul>
		</td>
		<td width="316" bgcolor="#ffffff" style="border: none; padding: 0in">
			<ul>
				<li><p lang="ru-RU" class="western"><font size="2" style="font-size: 11pt">Workforce
				Analysis</font></p>
			</ul>
		</td>
	</tr>
</table>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt"><b>Recruitment Technologies -
include but not limited to:</b></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<table width="810" cellpadding="8" cellspacing="0">
	<col width="257">
	<col width="521">
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Database
			Technologies:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Oracle,
			Informix, Sybase, DB2, Data modeling, Data Mining, Developer/
			Designer 2000, ERWIN, SQL, PL/SQL, Mongodb, Postgresql</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Networking
			Technologies:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">CCNA,
			CCNP, CCIE, MCP, MCSE, CAN, CNE</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Infosec:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Smart
			Card, PKI, IPSec, Proxy server, Checkpoint, Cisco Pix, IDS, ISS,
			SOC Analysts, Information Security Engineers, C&amp;A Experts</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Defense
			Related:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Imagery
			Analysts, SIGINT, HUMINT, Cryptolinguist Instructors, Linguists </font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Contract
			Specific:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">JIOC-ASA-ISR,
			SMARTS, USSOCOM</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>UNIX:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">SUN
			Solaris, HP UX, AIX, Linux, SCO, DEC</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Telecommunications:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Implementation
			Specialists, Trackers, Engineers, Field Techs, T1, T3, E1, PBX,
			Nortel, Lucent, ect</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Software
			Development, Engineering, and Architecture:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Cobol,
			PL1, AS/400, RPG, Visual Basic, Delphi, PowerBuilder, C/C++, Java,
			J2EE, EJB, JSP, JDK, Corba, COM/DCOM, XML, Forte, Rational Rose,
			UML, .net, C#, COOL:Gen</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>Web
			Development:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">Ruby
			on Rails, Bootstrap, HTML, CSS, JAVA Script, VB Script, Active
			Server Page(ASP),&nbsp; .net, C#, Visual FoxPro, CGI, Perl, Visual
			InterDev, Cold Fusion, PhotoShop, Flash</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="257" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt"><u><b>ERP/CRM:</b></u></font></p>
		</td>
		<td width="521" bgcolor="#ffffff" style="border: none; padding: 0in">
			<p lang="ru-RU" class="western"><font size="2" style="font-size: 10pt">PeopleSoft,
			SAP, Oracle Financials, etc.</font></p>
		</td>
	</tr>
</table>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>EMPLO</b><b>YMENT HISTORY:</b></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>General Manager; Alaska Executive Search, Inc., Anchorage, AK</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>July 2013 – </b><span lang="en-US"><b>January 2015</b></span><b>
</b>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt"><span lang="en-US">Performed
as </span></font><font size="2" style="font-size: 11pt">General
Manager </font><font size="2" style="font-size: 11pt"><span lang="en-US">and</span></font><font size="2" style="font-size: 11pt">
maintain</font><font size="2" style="font-size: 11pt"><span lang="en-US">end</span></font><font size="2" style="font-size: 11pt">
the continuity of </font><font size="2" style="font-size: 11pt"><span lang="en-US">five
specialty staffing divisions including Executive Search,
Professional/Technical Search, Temporary Staffing, Office Staffing
and Medical Staffing. Ensured</span></font><font size="2" style="font-size: 11pt">
professional standards throughout the organization. </font><font size="2" style="font-size: 11pt"><span lang="en-US">Responsible
for Migrating from a legacy Applicant Tracking System (ATS) to a new
ATS system. Managed the selection, implementation, and training of a
new ATS. The new ATS provided better management of the AES careers
page (</span></font><font color="#0000ff"><span lang="zxx"><u><a href="http://akexec.catsone.com/careers/"><font size="2" style="font-size: 11pt"><span lang="en-US">http://akexec.catsone.com/careers/</span></font></a></u></span></font><font size="2" style="font-size: 11pt"><span lang="en-US">),
automated internal and external job posting services, enhanced social
media integration and improved customer resource management (CRM)
functionality. Provided oversight of all marketing related activities
and successfully increased AES visibility and diversity by reducing
print advertising and initiating digital/multi media advertising with
Alaska Business Monthly and KTUU.com. Initiated a movie theater
advertising campaign to reach a more diverse audience. Provided
general management of staff and was responsible for employee
relations, employee reviews and performance improvement planning.
Responsible for internal staffing and provided strategic direction as
needed. Participated in finance review and planning meetings.
Performed as the Recruiter and Account Manager for the
Professional/Technical Division (Information Technology and
Engineering).  Recruited for Electrical Engineers, Mechanical
Engineers, Civil Engineers, Drilling Engineers, Health and Safety
Professionals, Project Managers and a large variety of IT
Professionals. </span></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>Senior Recruiter; JLG Industries, Hagerstown, MD</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>October 2011 – July 2013 </b>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>Senior Recruiter; Manpower (contract JLG), Hagerstown, MD</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>February 2011 – September 2011</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 10pt">Perform</font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
full-lifecycle technical recruiting. Work</font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
as a Senior Recruiter </font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">and
managed recruiting for Electrical</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
Engineering, Information Technology System and OCONUS Military
Operation departments. </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">Identified</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
competing companies and candidates for the purpose of recruiting
passive candidates. </font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">Identified</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
and recommended appropriate jobsites, technical organizations,
databases and other recruiting sources for posting open </font></font><font size="2" style="font-size: 10pt">positions.
</font><font size="2" style="font-size: 10pt"><span lang="en-US">Posted</span></font><font size="2" style="font-size: 10pt">
positions to meet state Department of Labor requirements as needed.
Recruit</font><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font><font size="2" style="font-size: 10pt">
Electrical Engineers, Mechanical Engineers, Business Analysts,
Business Managers, Directors and Field Services Representatives to
meet critical hiring and staffing needs. </font><font size="2" style="font-size: 10pt"><span lang="en-US">Supported
and managed</span></font><font size="2" style="font-size: 10pt"> key
recruiting initiatives in support of JLG’s global migration from
MAPICS to JD Edwards. </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 10pt">Work</font><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font><font size="2" style="font-size: 10pt">
with hiring managers to modify job descriptions as needed and
</font><font size="2" style="font-size: 10pt"><span lang="en-US">provided</span></font><font size="2" style="font-size: 10pt">
hiring process training as needed. </font><font size="2" style="font-size: 10pt"><span lang="en-US">Conducted</span></font><font size="2" style="font-size: 10pt">
telephone interviews with candidates. Present</font><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font><font size="2" style="font-size: 10pt">
qualified candidates to hiring managers from a variety of sources.
Coordinated and conduct interviews.</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 10pt">Recommended and participat</font><font size="2" style="font-size: 10pt"><span lang="en-US">ed</span></font><font size="2" style="font-size: 10pt">
in career fairs and community outreach programs to source and
identify top talent.  </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">Ensured</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
that all compliance documents</font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">
were</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">
completed and managed all necessary applicant data </font></font><font color="#000000"><font size="2" style="font-size: 10pt"><span lang="en-US">in
</span></font></font><font color="#000000"><font size="2" style="font-size: 10pt">adherence
to policy and industry best practices. </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>Managing Director; Information Technology Growth Solutions, LLC,
Roanoke, VA</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt"><b>January
2007 – February 2011</b></font></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Managing Director for an
information technology consulting and human capital growth firm.
Responsibilities included  recruitment of qualified candidates,
operations support, business development, marketing and general P&amp;L.&nbsp;
</font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Provide full-lifecycle
technical recruiting.&nbsp; Recruited for contract, contract-to-hire,
and permanent IT positions for Fortune 100, Fortune 500, and Fortune
1000 companies.&nbsp; Managed recruiting efforts for several
government agencies including DOD (BTA), NGA, CIA, NOAA, HUD,
District of Columbia, and the State of Maryland Government. </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Developed sourcing strategies
including cold calling, social networking, advertising, internet
sourcing, user groups, and referrals. Negotiate offers for contract
and permanent candidates. Responsible for maintaining employee
relations, fielding questions from staff regarding benefits, payroll
and occupational goals.</font></p>
<p lang="ru-RU" class="western" style="margin-left: -0.25in; margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Consultant to a large
multinational logistics &amp; defense contractor.&nbsp; Recruited
Estimators, Project Controls, Environmental Engineers, Accountants,
and Senior Executives. Support operations in Spain, Kuwait, Texas,
and Florida.&nbsp; Managed public postings, screening, interviewing,
salary negotiations and formal offer execution.</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Managed the daily activities
of ITGS recruiting, accounting, and IT staff.&nbsp; Responsible for
goal setting, trend analysis and training. Managed staff of twelve IT
professionals, three technical recruiters and one business
development manager.</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>Senior Technical Recruiter; Software Performance Systems, Inc.,
Falls Church, VA </b>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>January 2005 – December 2006</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Senior
Corporate Recruiter for a Government consulting firm in support of
several government agencies including DOJ, NOAA, HUD, LOC, MDOT, SI
and the Patent and Trademark Office. </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Performed
full-lifecycle recruitment with a broad range of responsibility.
Responsible for creating strategic recruitment plans custom to each
division to maximize recruitment of top talent in a timely manor.
Identified and recommended appropriate job sites, technical
organizations, databases and other recruiting resources for listing
open positions. Evaluated and made recommendations in regard to all
recruiting tools, resources, policies and procedures. </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Developed
cost to benefit analysis for upgrading the current applicant tracking
system and recommended a cost effective solution that provided
increased workflow and maximized return on investment. In addition to
managing recruiting efforts; supported executive officers in proposal
development initiatives. Responsibilities included research support,
pricing and employee/ candidate selection. </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Received
an award for contributions in the award of the CATS Master Contract
and the MVA, TARIS II contract. Participated in the development of
SPS position titles, position descriptions and salary banding.
Responsible for all internet postings and recruitment related
branding. Managed all external recruitment vendors and MBE partner
relationships.&nbsp; Responsible for assuring that EEO, AAP, and
OFCCP compliance policies were upheld.&nbsp; </font></font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>Senior Technical Recruiter; Management Systems Designers Inc.,
Rockville, MD</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>January 2004 — December 2004</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Performed
full-lifecycle technical recruiting. Worked as a Senior Corporate
Recruiter for a Government consulting firm in support of National
Institutes of Health, National Cancer Institute’s web site
(</font></font><font color="#0000ff"><font size="2" style="font-size: 11pt"><u>http://www.cancer.gov/</u></font></font><font color="#000000"><font size="2" style="font-size: 11pt">)
development and maintenance effort.</font></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000">&nbsp;</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font color="#000000"><font size="2" style="font-size: 11pt">Identified
competing companies and candidates for the purpose of recruiting
passive candidates. Identified and recommended appropriate job sites,
technical organizations, databases and other recruiting sources for
listing open </font></font><font size="2" style="font-size: 11pt">positions.
Sourced high-tech Website Project Managers, Developers, and Database
Administrators.&nbsp; The environment consisted of Microsoft IIS,
.net, C#, SharePoint, and</font><font size="2" style="font-size: 11pt"><b>
</b></font><font size="2" style="font-size: 11pt">SQL Server 2000.</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Worked with hiring managers to
develop and write job descriptions. Conducted telephone interviews
with candidates. Presented qualified candidates to hiring managers
from a variety of sources. Coordinated interviews and made travel
arrangements for out-of-state candidates.</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Involved in post interview
selection process and </font><font color="#000000"><font size="2" style="font-size: 11pt">facilitated
the closure of candidates identified for offers. Made recommendations
to implement a software solution for recruitment and candidate
tracking.&nbsp; Made policy and procedure recommendations to
implement industry best practice.</font></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</p>
<h6 lang="ru-RU" class="western" align="justify" style="margin-top: 0in; margin-bottom: 0in; page-break-after: avoid">
<font size="3" style="font-size: 12pt"><b>Senior Technical Recruiter;
Triad Management Systems Inc., Rockville, MD</b></font></h6>
<h6 lang="ru-RU" class="western" align="justify" style="margin-top: 0in; margin-bottom: 0in; page-break-after: avoid">
<font size="3" style="font-size: 12pt"><b>1997-2002</b></font></h6>
<p lang="ru-RU" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Performed full-lifecycle
technical recruiting.&nbsp; Recruited for contract, contract-to-hire,
and permanent IT positions for Fortune 100, Fortune 500, and Fortune
1000 companies.&nbsp; Provided recruitment support for numerous
government-consulting firms to include, but not limited to CSC, Booz
Allen &amp; Hamilton, Wang, STG, SRA, Price Waterhouse Coopers,
Dyncorp, and Digex. Provided recruitment support for numerous
government contracts to include EDS, IRS, DOD, Postal, DOL, NIH, DOJ,
etc. Sourced, pre-screened and interviewed potential candidates for
positions that required (Secret, TS, TS/SSBI, TS/SCI, Full Life Cycle
Poly, CI Poly). </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Sourcing strategies included
cold calling, networking, ad responses, internet sourcing, user
groups, and referrals. Negotiated offers for contract and permanent
candidates. Performed compensation analysis and made salary
recommendations to management. Responsibilities also included
maintaining employee relations. Fielded questions from consultants
regarding benefits, payroll and occupational goals. </font>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Consistently maintained
$16,000 a week in gross margin. Assisted in the training and
mentoring of Jr. Recruiters.&nbsp; Attended weekly status meetings
and made recommendations to assisted team members in setting and
achieving monthly/quarterly goals.&nbsp; Negotiated offers for
contract and permanent candidates.</font></p>
<p lang="ru-RU" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<b>EDUCATION/ CERTIFICATIONS:</b></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
&nbsp;</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
One Month Rails 								        2015</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
Certificate of Completion 
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
One month interactive course on Ruby on Rails 
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
Project URL: <font color="#0000ff"><span lang="zxx"><u><a href="https://jjc-pinteresting.herokuapp.com/">https://jjc-pinteresting.herokuapp.com/</a></u></span></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
GitHub:         <font color="#0000ff"><span lang="zxx"><u><a href="https://github.com/jcross2774/pinteresting.git">https://github.com/jcross2774/pinteresting.git</a></u></span></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%"><a name="__DdeLink__300_57452606"></a>
<font size="2" style="font-size: 11pt">University of
Phoenix&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; 2011to </font><font size="2" style="font-size: 11pt"><span lang="en-US">2012</span></font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Phoenix, AZ		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2005
to 2005</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt"><span lang="en-US">Information
Technology</span></font></p>
<p class="western" style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Montgomery
College&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
1993-1994</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Rockville, MD</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<font size="2" style="font-size: 11pt">Business Administration</font></p>
<p lang="ru-RU" class="western" style="margin-bottom: 0in; line-height: 100%">
<br>
</p>
</body>
</html>